name: CI PYTEST

on:
  pull_request:
    branches:
      - main
      - dev

jobs:
  test:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Test suite for modflow plugin with py310-ubuntu
            python: "3.10"
            toxenv: modflow
          - name: Test suite for modflow plugin with py311-ubuntu
            python: "3.11"
            toxenv: modflow
          - name: Test suite for modflow plugin with py312-ubuntu
            python: "3.12"
            toxenv: modflow
          - name: Test suite for responses plugin with py310-ubuntu
            python: "3.10"
            toxenv: responses
          - name: Test suite for responses plugin with py311-ubuntu
            python: "3.11"
            toxenv: responses
          - name: Test suite for responses plugin with py312-ubuntu
            python: "3.12"
            toxenv: responses
          - name: Test suite for responses plugin with py313-ubuntu
            python: "3.13"
            toxenv: responses
          - name: Test suite for reservoirs plugin with py310-ubuntu
            python: "3.10"
            toxenv: reservoirs
          - name: Test suite for reservoirs plugin with py311-ubuntu
            python: "3.11"
            toxenv: reservoirs
          - name: Test suite for reservoirs plugin with py312-ubuntu
            python: "3.12"
            toxenv: reservoirs
          - name: Test suite for reservoirs plugin with py313-ubuntu
            python: "3.13"
            toxenv: reservoirs
          - name: Test suite for cross_correlation plugin with py310-ubuntu
            python: "3.10"
            toxenv: cross_correlation
          - name: Test suite for cross_correlation plugin with py311-ubuntu
            python: "3.11"
            toxenv: cross_correlation
          - name: Test suite for cross_correlation plugin with py312-ubuntu
            python: "3.12"
            toxenv: cross_correlation
          - name: Test suite for cross_correlation plugin with py312-ubuntu
            python: "3.13"
            toxenv: cross_correlation
          - name: Test suite for rml_solver plugin with py310-ubuntu
            python: "3.10"
            toxenv: rml_solver
          - name: Test suite for rml_solver plugin with py311-ubuntu
            python: "3.11"
            toxenv: rml_solver
          - name: Test suite for rml_solver plugin with py312-ubuntu
            python: "3.12"
            toxenv: rml_solver
          - name: Test suite for rml_solver plugin with py313-ubuntu
            python: "3.13"
            toxenv: rml_solver
          - name: Test suite for all unit tests
            python: "3.10"
            toxenv: all
    env:
      # Color Output
      # Rich (pip)
      FORCE_COLOR: 1
      # Tox
      PY_COLORS: 1
      # Pytest
      PYTEST_ADDOPTS: "--color=yes"
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
          check-latest: true
          cache: "pip"
          cache-dependency-path: pyproject.toml

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox

      - name: Setup tox environment
        run: tox -e ${{ matrix.toxenv }} --notest

      - name: Test
        run: tox -e ${{ matrix.toxenv }} --skip-pkg-install

      # - name: Run codacy-coverage-reporter
      #   if: ${{ matrix.toxenv == 'all' && github.repository == 'pastas/pastas-plugins' && success() }}
      #   uses: codacy/codacy-coverage-reporter-action@master
      #   with:
      #     project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
      #     coverage-reports: coverage.xml